<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyungsle Link</title>
    <script>
      function submitLink() {
        const inputText = document.getElementById("linkInput").value;
        alert(inputText);
      }
    </script>
  </head>
  <body>
    <div>
      <h1>kyungsle link</h1>
      <div>
        <input id="linkInput" placeholder="링크를 입력해주세요" type="text" />
        <button onclick="submitLink()">링크 제출</button>
      </div>
    </div>
  </body>
</html>
