<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bada Link</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;800&family=Noto+Sans:wght@100;400;800&display=swap"
      rel="stylesheet"
    />

    <link href="/style/style.css" rel="stylesheet"></link>

    <script>
      function handleFormSubmit(event) {
        event.preventDefault();
        const inputValue = document.getElementById("linkInput").value;

        // AJAX 요청을 보냅니다.
        fetch("/", {
          method: "POST",
          body: JSON.stringify({ originalLink: inputValue }),
          headers: {
            "Content-Type": "application/json", // 타입 반드시 지정해줘야함..
          },
        })
          .then((response) => {
            if (response.ok === false) {
              throw new Error(response.statusText);
            }
            return response.json();
          })
          .then((data) => {
            const newLink = data.newLink;
            const formBoxNode = document.getElementById("formBox");
            const newLinkNode = document.getElementById("newLink");
            if (newLinkNode) {
              newLinkNode.remove();
            }

            const newNode = `
              <div id="newLink" class="newLink">
                <span>
                  Hey! This is your new link:
                  <a id="newLink" href="${newLink}" target="_blank">${newLink}</a>
                </span>
              </div>
            `;
            formBoxNode.insertAdjacentHTML("afterend", newNode);
          })
          .catch((errorMessage) => {
            alert(errorMessage);
          });
      }
    </script>
  </head>
  <body>
    <div class="content">
      <div id="formBox">
        <h1 class="title">BADA LINK</h1>
        <form
          id="form"
          class="form"
          target="_self"
          onsubmit="handleFormSubmit(event)"
        >
          <input
            id="linkInput"
            class="input"
            name="originalLink"
            placeholder="링크를 입력해주세요"
            type="text"
            required
          />
          <button type="submit" class="submit-button">Shorten!</button>
        </form>
      </div>
    </div>
    <div class="footer">
      <h2 class="author">
        Made By
        <a href="https://github.com/keinn51">#Kyungsle</a>
      </h2>
    </div>
  </body>
</html>
